{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Semantic UI -->
        <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

        <!-- Style Site -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>

        {% if user.is_authenticated %}
            <div class="ui secondary menu nav-bar">
                <div class="home-title">
                    <a href="{% url 'posts:main-post-view' %}">SOCIAL NETWORK</a>
                </div>
                <div class="ui item">
                    <span style="font-weight: bolder; color: #b1acac">
                        {% if  request.user.profile.get_users_to_follow > 1 %}
                            {{  request.user.profile.get_users_to_follow }} &nbsp;&#9656;&nbsp; <a href="{% url 'profiles:users-view' %}">users to follow</a>
                        {% else %}
                            <a href="{% url 'profiles:users-view' %}">no users to follow</a>
                        {% endif %}
                    </span>
                </div>
                <div class="right menu">
                     <a class="ui item" href="{% url 'profiles:profile-view' %}" style="font-weight: bolder;">my profile</a>
                     <a class="ui item" href="{% url 'logout-view' %}" style="font-weight: bolder;">Logout</a>
                </div>
            </div>
        {% endif %}

        <div class="ui container">
            {% block content %}
            {% endblock content%}
        </div>

        {% block script %}
        {% endblock script %}

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
</html>