{% extends 'base.html' %}
{% block title %} LOGIN {% endblock title %}
{% block content %}
    <div class="ui segment" style="width: 50%; top: 150px;">
        <form method="POST" class="ui form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="ui green button">login</button>
        </form>
        <div class="mt-5">
            <small>Do you need an account ? <a href="{% url 'register-view' %}">Sign up</a></small>
        </div>
    </div>
{% endblock %}